
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    /* z-index: 1000; */
    height: 500;
  }
  

  header img {
    width: 250px;
    height: 70px;
    margin-right: 20px;
  }
  

  .navbar {
    display: flex;
    align-items: center;
    gap: 20px; 
    background-color: rgba(255, 255, 255, 0); 
    padding: 10px 20px;
    border-radius: 20px;
  }
  

  .navbar .mx-2{
    color: red;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s;
    padding: 8px 12px;
    border-radius: 30px;
  }
  

  .navbar .mx-2:hover {
    background-color: red;
    color: white;
    transform: scale(1.05);
  }
  

  .navbar .bg-red-600 {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s;
  }
  
  .navbar .bg-red-600:hover {
    background-color: darkred;
    transform: scale(1.1);
  }
  

  .navbar .bg-red-600 {
    margin-left: auto;
  }
  

  @media (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
      gap: 10px;
    }
  
    header img {
      width: 120px;
    }
  
    .navbar .bg-red-600 {
      margin-left: 0;
    }
  }
  nav {
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 50;
    padding: 10px 20px;
    justify-content: space-around;

  }
  
  
  
  nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 10;
    justify-content: space-around;
  }
  
  nav ul li a {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #e11d48; /* Red */
  }
  
  nav button {
    padding: 10px 20px;
    font-size: 0.85rem;
    font-weight: bold;
    color: white;
    background-color: #e11d48;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  nav button:hover {
    background-color: #c81a42; /* Darker red */
  }
  